@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;1,300&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* ----------- Colours ----------- */
:root{
    --heading-color: brown;
    --header-color: #C8DBBE;
    --about-color: #fff5ee ;
    --button-color: #9F8772;
}

/* ----------- Fonts ----------- */
:root{
    --heading-font: 'Poppins', sans-serif;
    --body-font: 'Abyssinica SIL', serif;
    --small-body-font: 'Source Sans Pro', sans-serif;
}

/* ----------- Navbar ----------- */

img{
    width: 20px;
    height: 20px;
    margin: 0px 18px 0px 18px;
}

.header .sec-one #box-view{
    width: 27px;
    height: 27px;
}
.header{
    background-color: var(--header-color);
    padding: 10px;
    display: flex;
    align-items:center;
    border: solid 1px black; 
}

.header .sec-one{
    display: flex;
    flex: 1 1 15%;
    justify-content: flex-start;
}
.header .sec-two{
    display: flex;
    flex: auto 1 70%;
    justify-content: center;
}
.header .sec-three{
    display: flex;
    float: right;
    flex: 1 1 15%;
    justify-content: flex-end;
}

.header .sec-one #list-view{
    width: 25px;
    height: 25px;
}
.header .sec-one #icon{
    width: 30px;
    height: 30px;
}

.header .sec-one #heading{
   font-size: 18px;
   font-family: var(--heading-font)
}

/* ----------- About section popup ----------- */

#about{
    cursor: pointer;
}

.about-popup{
    background: var(--about-color);
    padding: 20px 40px;
    width: 50%;
    font-family: var(--body-font);
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    position: absolute;
    transition: transform 0.4s, top 0.4s;
    box-shadow: 5px 5px 5px #aaaaaa ;
}

.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.about-heading{
    font-family: var(--heading-font);
    font-size: 1.3em;
    text-align: center;
}

.about-para{
    margin-top: 20px;
}

.about-closebtn{
    padding: 10px 20px;
    font-family: var(--small-body-font);
    font-size: 1em;
    cursor: pointer;
    background-color: var(--button-color);
    border-radius: 10%;
    border: none;
    margin-top: 10px;
    box-shadow: 5px 5px 5px #aaaaaa ;
}

/* ----------- Main body and Sidebar ----------- */

.main-body{
    padding: 20px;
    display: flex;
    height: 100vh;
}

.main-body .sidebar{
    width: 25%;
    border: right 2px solid green;
    flex-shrink: 0;
    overflow-y: auto;
    padding: 1em;
    border-right: 1px solid grey;
    /* box-shadow: 3px 3px 3px 1px grey; */
}

/* .main-body  .sidebar .notes-list .note-sideview{
    padding: 10px;
} */

/* .note-title, .note-date {
    padding: 10px;
      
} */

.note-sideview{
    border-bottom: 1px grey solid;
    padding: 5px;
}

.note-title{
    font-size: 1.2em;
    font-family: var(--body-font);
}

.note-body {
    padding: 0 10px;
    font-family: var(--small-body-font);
}

.note-date {
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
    font-family: var(--small-body-font); 
}

.main-body .note-sec{
    padding: 10px;
    width: 75%
}

.main-body .note-sec .notes-header{
    padding: 10px;
    width: 100%;
    font-family: var(--heading-font);
}

.main-body .note-sec textarea{
    padding: 10px;
    width: 100%;
    height: 100%;
    font-family: var(--heading-font);
}

.note__header, .textarea {
    border: none;
    outline: none;
    width: 100%;
}

/* ------------- Main notes body -------------- */

.note-sec{
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    flex-grow: 1;
}

.note-header,
.textarea {
    border: none;
    outline: none;
    width: 100%;
}

.note-header {
    font-size: 2.5em;
    font-weight: bold;
}

.textarea {
    flex-grow: 1;
    font-size: 1.em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none; /* Makes the textarea unresizable by the user */
}

.footer{
    text-align: center;
    margin: 10px;
    font-family: var(--heading-font);
}


